@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --animate-spotlight: spotlight 2s ease 0.75s 1 forwards;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@keyframes spotlight {
  0% {
    opacity: 0;
    transform: translate(-72%, -62%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -40%) scale(1);
  }
}

@keyframes twinkle {
  0%, 100% { opacity: 0.7; }
  50% { opacity: 1; }
}
.animate-twinkle {
  animation: twinkle 3s ease-in-out infinite;
}


 @keyframes scrollStars {
    0% {
      background-position: 0 0;
      /* scale: 0.5; */
    }
    100% {
      background-position: 10000px 5000px;
      /* scale: 1.7; */
    }
  }

  .animate-scroll-stars {
    animation: scrollStars 300s linear infinite;
  }

.beam-border {
  position: relative;
  border-radius: 0.75rem;
  overflow: hidden;
  z-index: 0;
}

.beam-border::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  border-radius: 0.75rem;
  background: conic-gradient(
    from 0deg,
    transparent 0deg,
    #a3e635 90deg,
    transparent 180deg,
    #a3e635 270deg,
    transparent 360deg
  );
  animation: beamRotate 3s linear infinite;
  mask: 
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
  z-index: 1;
  pointer-events: none;
}

.beam-border img {
  position: relative;
  z-index: 2;
  border-radius: 0.75rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes beamRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.noise {
  pointer-events: none;
  position: absolute;
  inset: 0;
  background-image: 
    radial-gradient(circle, rgba(0,0,0,0.02) 1px, transparent 1px),
    radial-gradient(circle, rgba(255,255,255,0.02) 1px, transparent 1px);
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
  opacity: 0.1;
  z-index: 20;
}

@layer utilities {
  .text-shadow-green {
    text-shadow: 0 0 20px rgba(222, 74, 220, 0.4);
  }
}